In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import json

## Carregar os dados

In [2]:
# Carregar o dataset JSON
with open('../datasets/HPI_master.json', 'r') as f:
    json_data = json.load(f)

# Converter o dataset JSON para um DataFrame do pandas
data_json = pd.DataFrame(json_data)

# Carregar o dataset CSV - Population size
data_csv_ps = pd.read_csv("../datasets/cu.data.19.PopulationSize.csv")
data_csv_ps = pd.DataFrame(data_csv_ps)

# Carregar o dataset CSV - 
data_csv_fb = pd.read_csv("../datasets/cu.data.11.USFoodBeverage.csv")
data_csv_fb = pd.DataFrame(data_csv_fb)

## Visualizar os dados

In [3]:
data_json.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.0
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.96
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.98
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.36

In [4]:
data_csv_ps.head()

     series_id  year period  value  footnote_codes
0  CUURA000AA0  1986    M12  100.0             NaN
1  CUURA000AA0  1987    M01  100.6             NaN
2  CUURA000AA0  1987    M02  101.1             NaN
3  CUURA000AA0  1987    M03  101.6             NaN
4  CUURA000AA0  1987    M04  102.2             NaN

In [5]:
data_csv_fb.head()

     series_id  year period  value  footnote_codes
0  CUSR0000SAF  1967    M01   34.8             NaN
1  CUSR0000SAF  1967    M02   34.7             NaN
2  CUSR0000SAF  1967    M03   34.7             NaN
3  CUSR0000SAF  1967    M04   34.6             NaN
4  CUSR0000SAF  1967    M05   34.6             NaN

#### **Tipos de dados do dataset: Food & Beverage**

In [6]:
data_csv_fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119198 entries, 0 to 119197
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   series_id       119198 non-null  object
 1   year            119198 non-null  int64
 2   period          119198 non-null  object
 3   value           119198 non-null  float64
 4   footnote_codes  0 non-null       float64
dtypes: float64(2), int64(1), object(2)
memory usage: 4.5+ MB

#### **Tipos de dados do dataset: Population Size**

In [7]:
data_csv_ps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84760 entries, 0 to 84759
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   series_id       84760 non-null  object
 1   year            84760 non-null  int64
 2   period          84760 non-null  object
 3   value           84760 non-null  float64
 4   footnote_codes  0 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.2+ MB

Conseguimos observar a existência de dados do tipo `object`. Poderá ser necessário tratar este tipo de dados.

#### **Tipos de dados do dataset Json**

In [8]:
data_json.dtypes

hpi_type       object
hpi_flavor     object
frequency      object
level          object
place_name     object
place_id       object
yr              int64
period          int64
index_nsa     float64
index_sa       object
dtype: object

Remover linhas com ano anterior a 1977, uma vez que o dataset FoodBeverage começa nesse ano

In [9]:
print("[Dataframes size before]:\n\n")
print("FB: ", data_csv_fb.count(), "\n")
print("PS: ", data_csv_ps.count(), "\n")
print("HPI: ", data_json.count())

[Dataframes size before]:


FB:  series_id         119198
year              119198
period            119198
value             119198
footnote_codes         0
dtype: int64

PS:  series_id         84760
year              84760
period            84760
value             84760
footnote_codes        0
dtype: int64

HPI:  hpi_type      121462
hpi_flavor    121462
frequency     121462
level         121462
place_name    121462
place_id      121462
yr            121462
period        121462
index_nsa     121462
index_sa      121462
dtype: int64

Filtrar apenas as colunas com o ano igual ou superior a 1977, uma vez que nem todos os datasets contêm informação de anos anteriores

In [10]:
data_csv_fb = data_csv_fb[data_csv_fb['year'] > 1976]
data_csv_ps = data_csv_ps[data_csv_ps['year'] > 1976]
data_json = data_json[data_json['yr'] > 1976]

In [11]:
for index, row in data_json.iterrows():
    if row['yr'] < 1977:
        print("Falha detectada na linha", index)

for index, row in data_json.iterrows():
    if row['yr'] < 1977:
        print("Falha detectada na linha", index)

for index, row in data_json.iterrows():
    if row['yr'] < 1977:
        print("Falha detectada na linha", index)

In [12]:
data_json.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.0
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.96
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.98
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.36

In [13]:
print("[Dataframe size after]: FB: ", data_csv_fb.count(), "PS: ", data_csv_ps.count(), "HPI: ", data_json.count())

[Dataframe size after]: FB:  series_id         91350
year              91350
period            91350
value             91350
footnote_codes        0
dtype: int64 PS:  series_id         84760
year              84760
period            84760
value             84760
footnote_codes        0
dtype: int64 HPI:  hpi_type      120794
hpi_flavor    120794
frequency     120794
level         120794
place_name    120794
place_id      120794
yr            120794
period        120794
index_nsa     120794
index_sa      120794
dtype: int64

#### **Verificar a existencia de Missing Values em cada um dos Dataframes**

In [14]:
print("Number of missing values in House Price dataset:")
json_MV = data_json.isnull().sum()
print(json_MV)

Number of missing values in House Price dataset:
hpi_type      0
hpi_flavor    0
frequency     0
level         0
place_name    0
place_id      0
yr            0
period        0
index_nsa     0
index_sa      0
dtype: int64

In [15]:
print("Number of missing values in FoodBeverage dataset:")
foodBeverage_MV = data_csv_fb.isnull().sum()
print(foodBeverage_MV)

Number of missing values in FoodBeverage dataset:
series_id             0
year                  0
period                0
value                 0
footnote_codes    91350
dtype: int64

In [16]:
print("Number of missing values in Population Size dataset:")
populationSize_MV = data_csv_ps.isnull().sum()
print(populationSize_MV)

Number of missing values in Population Size dataset:
series_id             0
year                  0
period                0
value                 0
footnote_codes    84760
dtype: int64

#### **Verificar os valores da coluna `period`**

In [17]:
period_values = data_csv_ps['period'].unique()
print("The 'period' column contains the following values:")
print(period_values)

The 'period' column contains the following values:
['M12' 'M01' 'M02' 'M03' 'M04' 'M05' 'M06' 'M07' 'M08' 'M09' 'M10' 'M11'
 'M13' 'S01' 'S02' 'S03']

## Tratamento dos Dados

#### **Transformar `index_sa` em dados numéricos**

In [18]:
data_json['index_sa'] = data_json['index_sa'].astype(float)

#### **Transformar `period` em dados numéricos**

In [19]:
# Dicionário para mapear o período número ao valor da string
period_map = {
    'M01': 1,
    'M02': 2,
    'M03': 3,
    'M04': 4,
    'M05': 5,
    'M06': 6,
    'M07': 7,
    'M08': 8,
    'M09': 9,
    'M10': 10,
    'M11': 11,
    'M12': 12,
    'M13': 13,
    'S01': 14,
    'S02': 15,
    'S03': 16
}

data_csv_ps['period'] = data_csv_ps["period"].replace(period_map)
data_csv_fb['period'] = data_csv_fb["period"].replace(period_map)
data_json['period'].astype(str).astype(int)

0         1
1         2
2         3
3         4
4         5
         ..
121457    4
121458    1
121459    2
121460    3
121461    4
Name: period, Length: 120794, dtype: int64

#### **Remover a coluna `footnote_codes`**

In [20]:
data_csv_ps.drop(columns=["footnote_codes"], inplace=True)
data_csv_fb.drop(columns=["footnote_codes"], inplace=True)

In [21]:
data_csv_ps.head()

     series_id  year  period  value
0  CUURA000AA0  1986      12  100.0
1  CUURA000AA0  1987       1  100.6
2  CUURA000AA0  1987       2  101.1
3  CUURA000AA0  1987       3  101.6
4  CUURA000AA0  1987       4  102.2

In [22]:
data_csv_fb.head()

       series_id  year  period  value
120  CUSR0000SAF  1977       1   63.1
121  CUSR0000SAF  1977       2   64.2
122  CUSR0000SAF  1977       3   64.5
123  CUSR0000SAF  1977       4   65.2
124  CUSR0000SAF  1977       5   65.5

#### **Tratar Nan Values**

In [23]:
median_value = data_json['index_sa'].median()
data_json['index_sa'] = data_json['index_sa'].fillna(median_value)

#### **Renomear colunas**

Estas colunas são necessárias renomear porque irão dar erro ao efetuar o merge

In [24]:
data_json.rename(columns = {'yr':'year'}, inplace = True)
data_csv_fb.rename(columns = {'value':'valueFoodBeverage'}, inplace = True)
data_csv_ps.rename(columns = {'value':'valuePopSize'}, inplace = True)
data_csv_fb.rename(columns = {'series_id':'idFoodBeverage'}, inplace = True)
data_csv_fb.rename(columns = {'series_id':'idPopSize'}, inplace = True)

## Converter para Parquet

In [25]:
pq1 = data_csv_fb.to_parquet('../parquetFiles/data_fb.parquet')
pq2 = data_csv_ps.to_parquet('../parquetFiles/data_ps.parquet')
pq3 = data_json.to_parquet('../parquetFiles/data_json.parquet')

pd.read_parquet('../parquetFiles/data_fb.parquet')
pd.read_parquet('../parquetFiles/data_ps.parquet')
pd.read_parquet('../parquetFiles/data_json.parquet')

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,year,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.96
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.98
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.36
...,...,...,...,...,...,...,...,...,...,...
121457,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2021,4,185.03,183.17
121458,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,1,185.82,190.35
121459,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,2,179.30,179.96
121460,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,3,190.09,187.85
121461,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,4,199.98,198.91

## Realizar o Merge dos datasets

In [26]:
# from pyspark.sql.functions import *
# from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as Func
from pyspark.sql.functions import *
from pyspark.sql.functions import expr
from pyspark.sql.types import *
# spark = SparkSession.builder.getOrCreate()

spark = SparkSession.builder \
    .appName("Conexao ao MongoDB Atlas") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:2.4.0") \
    .getOrCreate()

pq1 = spark.read.format("parquet").load('../parquetFiles/data_fb.parquet')
pq2 = spark.read.format("parquet").load('../parquetFiles/data_ps.parquet')
pq3 = spark.read.format("parquet").load('../parquetFiles/data_json.parquet')

df4 = pq1.join(pq2, on=['period', 'year'], how='inner').join(pq3, on=['period', 'year'], how='inner')

type(df4)

23/05/03 16:36:38 WARN Utils: Your hostname, josejoao-S540 resolves to a loopback address: 127.0.1.1; using 192.168.1.183 instead (on interface wlp0s20f3)
23/05/03 16:36:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/josejoao/anaconda3/envs/DAA/lib/python3.7/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/josejoao/.ivy2/cache
The jars for the packages stored in: /home/josejoao/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-f44775f9-942f-422d-a83e-9bf387068d35;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;2.4.0 in central
	found org.mongodb#mongo-java-driver;3.9.0 in central
:: resolution report :: resolve 154ms :: artifacts dl 6ms
	:: modules in use:
	org.mongodb#mongo-java-driver;3.9.0 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;2.4.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-f44775f9-942f-422d-a83e-9bf387068d35
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/6ms)

23/05/03 16:36:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

pyspark.sql.dataframe.DataFrame

#### **Escrever o dataset com o merge efetuado para o formato Parquet**

In [ ]:
# pq_merged = df4.write.parquet('../parquetFiles/merged.parquet')

In [36]:
df4 = df4.drop("__index_level_0__", "__index_level_0__", "__index_level_0__")

In [37]:
df4.printSchema()

root
 |-- period: long (nullable = true)
 |-- year: long (nullable = true)
 |-- idFoodBeverage: string (nullable = true)
 |-- valueFoodBeverage: double (nullable = true)
 |-- series_id: string (nullable = true)
 |-- valuePopSize: double (nullable = true)
 |-- hpi_type: string (nullable = true)
 |-- hpi_flavor: string (nullable = true)
 |-- frequency: string (nullable = true)
 |-- level: string (nullable = true)
 |-- place_name: string (nullable = true)
 |-- place_id: string (nullable = true)
 |-- index_nsa: double (nullable = true)
 |-- index_sa: double (nullable = true)

In [38]:
df4.head(10)

[Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='United States', place_id='USA', index_nsa=79.58, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='West South Central Division', place_id='DV_WSC', index_nsa=75.65, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='West North Central Division', place_id='DV_WNC', index_nsa=80.99, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='South Atlantic Division', place_id='DV_SA', index_nsa=81.3, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='Pacific Division', place_id='DV_PAC', index_nsa=73.88, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='New England Division', place_id='DV_NE', index_nsa=77.6, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='Mountain Division', place_id='DV_MT', index_nsa=77.61, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='Middle Atlantic Division', place_id='DV_MA', index_nsa=80.56, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='East South Central Division', place_id='DV_ESC', index_nsa=84.75, index_sa=180.51),
 Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='East North Central Division', place_id='DV_ENC', index_nsa=83.0, index_sa=180.51)]

#### Tratamento dos dados para redução do tamanho do dataset

In [39]:
# Remover os valores nulos e repetidos
df4 = df4.dropna()
df4 = df4.dropDuplicates()

----
## **Conversão para formato Documental**

In [83]:
from pyspark.sql.functions import *
import json

type(df4)


# dataframe é o seu dataframe com as colunas mencionadas
json_data = df4\
    .groupBy('year')\
    .agg(collect_list(struct(*df4.columns)).alias('data')) \
    .select(to_json(struct(col("year"), col("data"))).alias("json_data")).collect()

# O resultado é uma lista de objetos JSON
json_list = [json.loads(row.json_data) for row in json_data]

# Salva o resultado em um arquivo JSON
with open('../parquetFiles2/output.json', 'w') as f:
    json.dump(json_list, f)

# Converte o resultado da consulta para um dicionário Python
# result = spark\
#     .sql("SELECT year, collect_list(struct(quarter, group_name, group_value)) AS data FROM dados GROUP BY year")\
#         .toJSON().map(json.loads).collect()

23/04/27 11:41:40 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

23/04/27 11:42:00 ERROR Utils: uncaught error in thread Spark Context Cleaner, stopping SparkContext
java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.ContextCleaner$$Lambda$900/0x000000084075e040.get$Lambda(Unknown Source)
	at java.base/java.lang.invoke.DirectMethodHandle$Holder.invokeStatic(DirectMethodHandle$Holder)
	at java.base/java.lang.invoke.Invokers$Holder.linkToTargetMethod(Invokers$Holder)
	at org.apache.spark.ContextCleaner.$anonfun$keepCleaning$1(ContextCleaner.scala:195)
	at org.apache.spark.ContextCleaner$$Lambda$818/0x00000008406dd840.apply$mcV$sp(Unknown Source)
	at org.apache.spark.util.Utils$.tryOrStopSparkContext(Utils.scala:1446)
	at org.apache.spark.ContextCleaner.org$apache$spark$ContextCleaner$$keepCleaning(ContextCleaner.scala:189)
	at org.apache.spark.ContextCleaner$$anon$1.run(ContextCleaner.scala:79)
23/04/27 11:42:00 ERROR Executor: Exception in task 0.0 in stage 26.0 (TID 26)
java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.unsafe.types.UTF8String.fromAddress(UTF8String.java:132)
	at org.apache.spark.sql.catalyst.expressions.UnsafeRow.getUTF8String(UnsafeRow.java:406)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$8(InternalRow.scala:141)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$8$adapted(InternalRow.scala:141)
	at org.apache.spark.sql.catalyst.InternalRow$$$Lambda$2929/0x00000008412c8840.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$16(InternalRow.scala:157)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$16$adapted(InternalRow.scala:153)
	at org.apache.spark.sql.catalyst.InternalRow$$$Lambda$1995/0x0000000840dfe040.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.BoundReference.eval(BoundAttribute.scala:40)
	at org.apache.spark.sql.catalyst.expressions.CreateNamedStruct.$anonfun$eval$2(complexTypeCreator.scala:470)
	at org.apache.spark.sql.catalyst.expressions.CreateNamedStruct$$Lambda$3566/0x0000000841559840.apply(Unknown Source)
	at scala.collection.immutable.List.map(List.scala:297)
	at org.apache.spark.sql.catalyst.expressions.CreateNamedStruct.eval(complexTypeCreator.scala:470)
	at org.apache.spark.sql.catalyst.expressions.aggregate.Collect.update(collect.scala:51)
	at org.apache.spark.sql.catalyst.expressions.aggregate.Collect.update(collect.scala:37)
	at org.apache.spark.sql.catalyst.expressions.aggregate.TypedImperativeAggregate.update(interfaces.scala:583)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$anonfun$1.$anonfun$applyOrElse$2(AggregationIterator.scala:197)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$anonfun$1.$anonfun$applyOrElse$2$adapted(AggregationIterator.scala:197)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$anonfun$1$$Lambda$3551/0x0000000841545040.apply(Unknown Source)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator.$anonfun$generateProcessRow$7(AggregationIterator.scala:214)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator.$anonfun$generateProcessRow$7$adapted(AggregationIterator.scala:208)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$Lambda$3553/0x0000000841546840.apply(Unknown Source)
	at org.apache.spark.sql.execution.aggregate.ObjectAggregationIterator.processInputs(ObjectAggregationIterator.scala:169)
	at org.apache.spark.sql.execution.aggregate.ObjectAggregationIterator.<init>(ObjectAggregationIterator.scala:83)
	at org.apache.spark.sql.execution.aggregate.ObjectHashAggregateExec.$anonfun$doExecute$1(ObjectHashAggregateExec.scala:114)
	at org.apache.spark.sql.execution.aggregate.ObjectHashAggregateExec.$anonfun$doExecute$1$adapted(ObjectHashAggregateExec.scala:90)
	at org.apache.spark.sql.execution.aggregate.ObjectHashAggregateExec$$Lambda$3525/0x0000000841532840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsWithIndexInternal$2(RDD.scala:877)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsWithIndexInternal$2$adapted(RDD.scala:877)
	at org.apache.spark.rdd.RDD$$Lambda$3526/0x0000000841535040.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
23/04/27 11:42:00 ERROR Utils: throw uncaught fatal error in thread Spark Context Cleaner
java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.ContextCleaner$$Lambda$900/0x000000084075e040.get$Lambda(Unknown Source)
	at java.base/java.lang.invoke.DirectMethodHandle$Holder.invokeStatic(DirectMethodHandle$Holder)
	at java.base/java.lang.invoke.Invokers$Holder.linkToTargetMethod(Invokers$Holder)
	at org.apache.spark.ContextCleaner.$anonfun$keepCleaning$1(ContextCleaner.scala:195)
	at org.apache.spark.ContextCleaner$$Lambda$818/0x00000008406dd840.apply$mcV$sp(Unknown Source)
	at org.apache.spark.util.Utils$.tryOrStopSparkContext(Utils.scala:1446)
	at org.apache.spark.ContextCleaner.org$apache$spark$ContextCleaner$$keepCleaning(ContextCleaner.scala:189)
	at org.apache.spark.ContextCleaner$$anon$1.run(ContextCleaner.scala:79)
23/04/27 11:42:00 ERROR SparkUncaughtExceptionHandler: Uncaught exception in thread Thread[Executor task launch worker for task 0.0 in stage 26.0 (TID 26),5,main]
java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.unsafe.types.UTF8String.fromAddress(UTF8String.java:132)
	at org.apache.spark.sql.catalyst.expressions.UnsafeRow.getUTF8String(UnsafeRow.java:406)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$8(InternalRow.scala:141)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$8$adapted(InternalRow.scala:141)
	at org.apache.spark.sql.catalyst.InternalRow$$$Lambda$2929/0x00000008412c8840.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$16(InternalRow.scala:157)
	at org.apache.spark.sql.catalyst.InternalRow$.$anonfun$getAccessor$16$adapted(InternalRow.scala:153)
	at org.apache.spark.sql.catalyst.InternalRow$$$Lambda$1995/0x0000000840dfe040.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.BoundReference.eval(BoundAttribute.scala:40)
	at org.apache.spark.sql.catalyst.expressions.CreateNamedStruct.$anonfun$eval$2(complexTypeCreator.scala:470)
	at org.apache.spark.sql.catalyst.expressions.CreateNamedStruct$$Lambda$3566/0x0000000841559840.apply(Unknown Source)
	at scala.collection.immutable.List.map(List.scala:297)
	at org.apache.spark.sql.catalyst.expressions.CreateNamedStruct.eval(complexTypeCreator.scala:470)
	at org.apache.spark.sql.catalyst.expressions.aggregate.Collect.update(collect.scala:51)
	at org.apache.spark.sql.catalyst.expressions.aggregate.Collect.update(collect.scala:37)
	at org.apache.spark.sql.catalyst.expressions.aggregate.TypedImperativeAggregate.update(interfaces.scala:583)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$anonfun$1.$anonfun$applyOrElse$2(AggregationIterator.scala:197)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$anonfun$1.$anonfun$applyOrElse$2$adapted(AggregationIterator.scala:197)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$anonfun$1$$Lambda$3551/0x0000000841545040.apply(Unknown Source)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator.$anonfun$generateProcessRow$7(AggregationIterator.scala:214)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator.$anonfun$generateProcessRow$7$adapted(AggregationIterator.scala:208)
	at org.apache.spark.sql.execution.aggregate.AggregationIterator$$Lambda$3553/0x0000000841546840.apply(Unknown Source)
	at org.apache.spark.sql.execution.aggregate.ObjectAggregationIterator.processInputs(ObjectAggregationIterator.scala:169)
	at org.apache.spark.sql.execution.aggregate.ObjectAggregationIterator.<init>(ObjectAggregationIterator.scala:83)
	at org.apache.spark.sql.execution.aggregate.ObjectHashAggregateExec.$anonfun$doExecute$1(ObjectHashAggregateExec.scala:114)
	at org.apache.spark.sql.execution.aggregate.ObjectHashAggregateExec.$anonfun$doExecute$1$adapted(ObjectHashAggregateExec.scala:90)
	at org.apache.spark.sql.execution.aggregate.ObjectHashAggregateExec$$Lambda$3525/0x0000000841532840.apply(Unknown Source)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsWithIndexInternal$2(RDD.scala:877)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsWithIndexInternal$2$adapted(RDD.scala:877)
	at org.apache.spark.rdd.RDD$$Lambda$3526/0x0000000841535040.apply(Unknown Source)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)

Exception in thread "Spark Context Cleaner" java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.ContextCleaner$$Lambda$900/0x000000084075e040.get$Lambda(Unknown Source)
	at java.base/java.lang.invoke.DirectMethodHandle$Holder.invokeStatic(DirectMethodHandle$Holder)
	at java.base/java.lang.invoke.Invokers$Holder.linkToTargetMethod(Invokers$Holder)
	at org.apache.spark.ContextCleaner.$anonfun$keepCleaning$1(ContextCleaner.scala:195)
	at org.apache.spark.ContextCleaner$$Lambda$818/0x00000008406dd840.apply$mcV$sp(Unknown Source)
	at org.apache.spark.util.Utils$.tryOrStopSparkContext(Utils.scala:1446)
	at org.apache.spark.ContextCleaner.org$apache$spark$ContextCleaner$$keepCleaning(ContextCleaner.scala:189)
	at org.apache.spark.ContextCleaner$$anon$1.run(ContextCleaner.scala:79)

Py4JJavaError: An error occurred while calling o202.collectToPython.
: org.apache.spark.SparkException: Job 26 cancelled because SparkContext was shut down
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$cleanUpAfterSchedulerStop$1(DAGScheduler.scala:1188)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$cleanUpAfterSchedulerStop$1$adapted(DAGScheduler.scala:1186)
	at scala.collection.mutable.HashSet.foreach(HashSet.scala:79)
	at org.apache.spark.scheduler.DAGScheduler.cleanUpAfterSchedulerStop(DAGScheduler.scala:1186)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onStop(DAGScheduler.scala:2887)
	at org.apache.spark.util.EventLoop.stop(EventLoop.scala:84)
	at org.apache.spark.scheduler.DAGScheduler.stop(DAGScheduler.scala:2784)
	at org.apache.spark.SparkContext.$anonfun$stop$11(SparkContext.scala:2105)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1484)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2105)
	at org.apache.spark.SparkContext$$anon$3.run(SparkContext.scala:2059)

----
## Armazenar os dados no MongoDB

#### **Teste para enviar dados para o MongoDB (na Organization que o Rodrigo Criou)**

In [ ]:


import pandas as pd

data = {'Nome': ['Maria', 'João', 'Pedro', 'Ana'],
        'Idade': [25, 30, 20, 27],
        'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']}

dfTeste = pd.DataFrame(data)

pqFile = dfTeste.to_parquet('../parquetFiles2/teste.parquet')
pqFile = spark.read.format("parquet").load('../parquetFiles2/teste.parquet')
# pqFile = pqFile.write.parquet('../parquetFiles2/teste2.parquet')
pqFile = spark.read.format("parquet").load('../parquetFiles2/teste2.parquet')

pqFile.show()

pqFile.printSchema()

pqFile.write.format("com.mongodb.spark.sql.DefaultSource").option("database", "test").option("collection", "inflation").option("uri", "mongodb+srv://bigDataAdmin:admin@cluster0.of2q4ow.mongodb.net/test").mode("overwrite").save()

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

df4.write.format("com.mongodb.spark.sql.DefaultSource").option("database", "test").option("collection", "inflation").option("uri", "mongodb+srv://bigDataAdmin:admin@bigdatacluster.l1dei5j.mongodb.net/test").mode("overwrite").save()