In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import json

## Carregar os dados

In [2]:
# Carregar o dataset JSON
with open('../datasets/HPI_master.json', 'r') as f:
    json_data = json.load(f)

# Converter o dataset JSON para um DataFrame do pandas
data_json = pd.DataFrame(json_data)

# Carregar o dataset CSV - Population size
data_csv_ps = pd.read_csv("../datasets/cu.data.19.PopulationSize.csv")
data_csv_ps = pd.DataFrame(data_csv_ps)

# Carregar o dataset CSV - 
data_csv_fb = pd.read_csv("../datasets/cu.data.11.USFoodBeverage.csv")
data_csv_fb = pd.DataFrame(data_csv_fb)

## Visualizar os dados

In [3]:
data_json.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.0
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.96
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.98
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.36

In [4]:
data_csv_ps.head()

     series_id  year period  value  footnote_codes
0  CUURA000AA0  1986    M12  100.0             NaN
1  CUURA000AA0  1987    M01  100.6             NaN
2  CUURA000AA0  1987    M02  101.1             NaN
3  CUURA000AA0  1987    M03  101.6             NaN
4  CUURA000AA0  1987    M04  102.2             NaN

In [5]:
data_csv_fb.head()

     series_id  year period  value  footnote_codes
0  CUSR0000SAF  1967    M01   34.8             NaN
1  CUSR0000SAF  1967    M02   34.7             NaN
2  CUSR0000SAF  1967    M03   34.7             NaN
3  CUSR0000SAF  1967    M04   34.6             NaN
4  CUSR0000SAF  1967    M05   34.6             NaN

#### Tipos de dados do dataset: Food & Beverage

In [6]:
data_csv_fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119198 entries, 0 to 119197
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   series_id       119198 non-null  object
 1   year            119198 non-null  int64
 2   period          119198 non-null  object
 3   value           119198 non-null  float64
 4   footnote_codes  0 non-null       float64
dtypes: float64(2), int64(1), object(2)
memory usage: 4.5+ MB

#### **Tipos de dados do dataset: Population Size**

In [7]:
data_csv_ps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84760 entries, 0 to 84759
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   series_id       84760 non-null  object
 1   year            84760 non-null  int64
 2   period          84760 non-null  object
 3   value           84760 non-null  float64
 4   footnote_codes  0 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.2+ MB

Conseguimos observar a existência de dados do tipo `object`. Poderá ser necessário tratar este tipo de dados.

#### **Tipos de dados do dataset Json**

In [8]:
data_json.dtypes

hpi_type       object
hpi_flavor     object
frequency      object
level          object
place_name     object
place_id       object
yr              int64
period          int64
index_nsa     float64
index_sa       object
dtype: object

#### **Verificar os valores da coluna `period`**

In [9]:
# List all the different possible values in the 'period' column
period_values = data_csv_ps['period'].unique()
print("The 'period' column contains the following values:")
print(period_values)

The 'period' column contains the following values:
['M12' 'M01' 'M02' 'M03' 'M04' 'M05' 'M06' 'M07' 'M08' 'M09' 'M10' 'M11'
 'M13' 'S01' 'S02' 'S03']

## Tratamento dos Dados

### **Transformar `index_sa` em dados numéricos**

In [10]:
data_json['index_sa'] = data_json['index_sa'].astype(float)

#### **Transformar `period` em dados numéricos**

In [11]:
# Dicionário para mapear o período número ao valor da string
period_map = {
    'M01': 1,
    'M02': 2,
    'M03': 3,
    'M04': 4,
    'M05': 5,
    'M06': 6,
    'M07': 7,
    'M08': 8,
    'M09': 9,
    'M10': 10,
    'M11': 11,
    'M12': 12,
    'M13': 13,
    'S01': 14,
    'S02': 15,
    'S03': 16
}

data_csv_ps['period'] = data_csv_ps["period"].replace(period_map)
data_csv_fb['period'] = data_csv_fb["period"].replace(period_map)
data_json['period'].astype(str).astype(int)

0         1
1         2
2         3
3         4
4         5
         ..
121457    4
121458    1
121459    2
121460    3
121461    4
Name: period, Length: 121462, dtype: int64

#### **Remover a coluna `footnote_codes`**

In [12]:
data_csv_ps.drop(columns=["footnote_codes"], inplace=True)
data_csv_fb.drop(columns=["footnote_codes"], inplace=True)

In [13]:
data_csv_ps.head()

     series_id  year  period  value
0  CUURA000AA0  1986      12  100.0
1  CUURA000AA0  1987       1  100.6
2  CUURA000AA0  1987       2  101.1
3  CUURA000AA0  1987       3  101.6
4  CUURA000AA0  1987       4  102.2

In [14]:
data_csv_fb.head()

     series_id  year  period  value
0  CUSR0000SAF  1967       1   34.8
1  CUSR0000SAF  1967       2   34.7
2  CUSR0000SAF  1967       3   34.7
3  CUSR0000SAF  1967       4   34.6
4  CUSR0000SAF  1967       5   34.6

#### Tratar Nan Values

In [15]:
median_value = data_json['index_sa'].median()
data_json['index_sa'] = data_json['index_sa'].fillna(median_value)

#### Renomear colunas

Estas colunas são necessárias renomear porque irão dar erro ao efetuar o merge

In [16]:
data_json.rename(columns = {'yr':'year'}, inplace = True)
data_csv_fb.rename(columns = {'value':'valueFoodBeverage'}, inplace = True)
data_csv_ps.rename(columns = {'value':'valuePopSize'}, inplace = True)
data_csv_fb.rename(columns = {'series_id':'idFoodBeverage'}, inplace = True)
data_csv_fb.rename(columns = {'series_id':'idPopSize'}, inplace = True)

## Converter para Parquet

In [17]:
pq1 = data_csv_fb.to_parquet('../parquetFiles/data_fb.parquet')
pq2 = data_csv_ps.to_parquet('../parquetFiles/data_ps.parquet')
pq3 = data_json.to_parquet('../parquetFiles/data_json.parquet')

pd.read_parquet('../parquetFiles/data_fb.parquet')
pd.read_parquet('../parquetFiles/data_ps.parquet')
pd.read_parquet('../parquetFiles/data_json.parquet')

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,year,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.96
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.98
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.36
...,...,...,...,...,...,...,...,...,...,...
121457,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2021,4,185.03,183.17
121458,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,1,185.82,190.35
121459,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,2,179.30,179.96
121460,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,3,190.09,187.85
121461,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,4,199.98,198.91

## Realizar o Merge dos datasets

In [18]:
# from pyspark.sql.functions import *
# from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as Func
from pyspark.sql.functions import *
from pyspark.sql.functions import expr
from pyspark.sql.types import *
# spark = SparkSession.builder.getOrCreate()

spark = SparkSession.builder \
    .appName("Ejemplo de conexión a MongoDB Atlas") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:2.4.0") \
    .getOrCreate()

pq1 = spark.read.format("parquet").load('../parquetFiles/data_fb.parquet')
pq2 = spark.read.format("parquet").load('../parquetFiles/data_ps.parquet')
pq3 = spark.read.format("parquet").load('../parquetFiles/data_json.parquet')

df4 = pq1.join(pq2, on=['period', 'year'], how='inner').join(pq3, on=['period', 'year'], how='inner')

df4.head()

# pq_merged = df4.to_parquet('../parquetFiles/merged.parquet')

23/04/13 23:39:46 WARN Utils: Your hostname, josejoao-S540 resolves to a loopback address: 127.0.1.1; using 192.168.1.76 instead (on interface wlp0s20f3)
23/04/13 23:39:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/josejoao/anaconda3/envs/DAA/lib/python3.7/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/josejoao/.ivy2/cache
The jars for the packages stored in: /home/josejoao/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-591a0709-e18e-48b7-85d7-da575ac24b1e;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;2.4.0 in central
	found org.mongodb#mongo-java-driver;3.9.0 in central
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/2.4.0/mongo-spark-connector_2.12-2.4.0.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector_2.12;2.4.0!mongo-spark-connector_2.12.jar (177ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongo-java-driver/3.9.0/mongo-java-driver-3.9.0.jar ...
	[SUCCESSFUL ] org.mongodb#mongo-java-driver;3.9.0!mongo-java-driver.jar (485ms)
:: resolution report :: resolve 1337ms :: artifacts dl 676ms
	:: modules in use:
	org.mongodb#mongo-java-driver;3.9.0 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;2.4.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   2   |   2   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-591a0709-e18e-48b7-85d7-da575ac24b1e
	confs: [default]
	2 artifacts copied, 0 already retrieved (2543kB/24ms)

23/04/13 23:39:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Row(period=1, year=1978, idFoodBeverage='CUSR0000SAF', valueFoodBeverage=68.1, series_id='CUURD000SETB01', valuePopSize=51.2, hpi_type='traditional', hpi_flavor='all-transactions', frequency='quarterly', level='USA or Census Division', place_name='United States', place_id='USA', index_nsa=79.58, index_sa=180.51)

In [19]:
# pq_merged = df4.write.parquet('../parquetFiles/merged.parquet')

----
## Store data on MongoDB

In [20]:
from pyspark.sql import SparkSession
import pandas as pd

# Criar uma sessão
# spark = SparkSession.builder \
#     .appName("Ejemplo de conexión a MongoDB Atlas") \
#     .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:2.4.0") \
#     .getOrCreate()

df4.write.format("com.mongodb.spark.sql.DefaultSource").option("database", "test").option("collection", "inflation").option("uri", "mongodb+srv://bigDataAdmin:admin@bigdatacluster.l1dei5j.mongodb.net/test").mode("overwrite").save()

23/04/14 01:07:54 ERROR Executor: Exception in task 0.0 in stage 8.0 (TID 8)
com.mongodb.MongoCommandException: Command failed with error 8000 (AtlasError): 'you are over your space quota, using 514 MB of 512 MB' on server ac-uueoxhj-shard-00-01.l1dei5j.mongodb.net:27017. The full response is { "ok" : 0, "errmsg" : "you are over your space quota, using 514 MB of 512 MB", "code" : 8000, "codeName" : "AtlasError" }
	at com.mongodb.internal.connection.ProtocolHelper.getCommandFailureException(ProtocolHelper.java:179)
	at com.mongodb.internal.connection.InternalStreamConnection.receiveCommandMessageResponse(InternalStreamConnection.java:293)
	at com.mongodb.internal.connection.InternalStreamConnection.sendAndReceive(InternalStreamConnection.java:255)
	at com.mongodb.internal.connection.UsageTrackingInternalConnection.sendAndReceive(UsageTrackingInternalConnection.java:99)
	at com.mongodb.internal.connection.DefaultConnectionPool$PooledConnection.sendAndReceive(DefaultConnectionPool.java:444)
	at com.mongodb.internal.connection.CommandProtocolImpl.execute(CommandProtocolImpl.java:72)
	at com.mongodb.internal.connection.DefaultServer$DefaultServerProtocolExecutor.execute(DefaultServer.java:200)
	at com.mongodb.internal.connection.DefaultServerConnection.executeProtocol(DefaultServerConnection.java:269)
	at com.mongodb.internal.connection.DefaultServerConnection.command(DefaultServerConnection.java:131)
	at com.mongodb.operation.MixedBulkWriteOperation.executeCommand(MixedBulkWriteOperation.java:419)
	at com.mongodb.operation.MixedBulkWriteOperation.executeBulkWriteBatch(MixedBulkWriteOperation.java:257)
	at com.mongodb.operation.MixedBulkWriteOperation.access$700(MixedBulkWriteOperation.java:68)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:201)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.OperationHelper.withReleasableConnection(OperationHelper.java:424)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:67)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:193)
	at com.mongodb.client.internal.MongoCollectionImpl.executeInsertMany(MongoCollectionImpl.java:520)
	at com.mongodb.client.internal.MongoCollectionImpl.insertMany(MongoCollectionImpl.java:504)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:119)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:119)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:118)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1(MongoSpark.scala:118)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1$adapted(MongoSpark.scala:117)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1011)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1011)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2278)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
23/04/14 01:07:54 WARN TaskSetManager: Lost task 0.0 in stage 8.0 (TID 8) (josejoao-S540.Home executor driver): com.mongodb.MongoCommandException: Command failed with error 8000 (AtlasError): 'you are over your space quota, using 514 MB of 512 MB' on server ac-uueoxhj-shard-00-01.l1dei5j.mongodb.net:27017. The full response is { "ok" : 0, "errmsg" : "you are over your space quota, using 514 MB of 512 MB", "code" : 8000, "codeName" : "AtlasError" }
	at com.mongodb.internal.connection.ProtocolHelper.getCommandFailureException(ProtocolHelper.java:179)
	at com.mongodb.internal.connection.InternalStreamConnection.receiveCommandMessageResponse(InternalStreamConnection.java:293)
	at com.mongodb.internal.connection.InternalStreamConnection.sendAndReceive(InternalStreamConnection.java:255)
	at com.mongodb.internal.connection.UsageTrackingInternalConnection.sendAndReceive(UsageTrackingInternalConnection.java:99)
	at com.mongodb.internal.connection.DefaultConnectionPool$PooledConnection.sendAndReceive(DefaultConnectionPool.java:444)
	at com.mongodb.internal.connection.CommandProtocolImpl.execute(CommandProtocolImpl.java:72)
	at com.mongodb.internal.connection.DefaultServer$DefaultServerProtocolExecutor.execute(DefaultServer.java:200)
	at com.mongodb.internal.connection.DefaultServerConnection.executeProtocol(DefaultServerConnection.java:269)
	at com.mongodb.internal.connection.DefaultServerConnection.command(DefaultServerConnection.java:131)
	at com.mongodb.operation.MixedBulkWriteOperation.executeCommand(MixedBulkWriteOperation.java:419)
	at com.mongodb.operation.MixedBulkWriteOperation.executeBulkWriteBatch(MixedBulkWriteOperation.java:257)
	at com.mongodb.operation.MixedBulkWriteOperation.access$700(MixedBulkWriteOperation.java:68)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:201)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.OperationHelper.withReleasableConnection(OperationHelper.java:424)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:67)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:193)
	at com.mongodb.client.internal.MongoCollectionImpl.executeInsertMany(MongoCollectionImpl.java:520)
	at com.mongodb.client.internal.MongoCollectionImpl.insertMany(MongoCollectionImpl.java:504)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:119)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:119)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:118)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1(MongoSpark.scala:118)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1$adapted(MongoSpark.scala:117)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1011)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1011)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2278)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

23/04/14 01:07:54 ERROR TaskSetManager: Task 0 in stage 8.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o52.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 8.0 failed 1 times, most recent failure: Lost task 0.0 in stage 8.0 (TID 8) (josejoao-S540.Home executor driver): com.mongodb.MongoCommandException: Command failed with error 8000 (AtlasError): 'you are over your space quota, using 514 MB of 512 MB' on server ac-uueoxhj-shard-00-01.l1dei5j.mongodb.net:27017. The full response is { "ok" : 0, "errmsg" : "you are over your space quota, using 514 MB of 512 MB", "code" : 8000, "codeName" : "AtlasError" }
	at com.mongodb.internal.connection.ProtocolHelper.getCommandFailureException(ProtocolHelper.java:179)
	at com.mongodb.internal.connection.InternalStreamConnection.receiveCommandMessageResponse(InternalStreamConnection.java:293)
	at com.mongodb.internal.connection.InternalStreamConnection.sendAndReceive(InternalStreamConnection.java:255)
	at com.mongodb.internal.connection.UsageTrackingInternalConnection.sendAndReceive(UsageTrackingInternalConnection.java:99)
	at com.mongodb.internal.connection.DefaultConnectionPool$PooledConnection.sendAndReceive(DefaultConnectionPool.java:444)
	at com.mongodb.internal.connection.CommandProtocolImpl.execute(CommandProtocolImpl.java:72)
	at com.mongodb.internal.connection.DefaultServer$DefaultServerProtocolExecutor.execute(DefaultServer.java:200)
	at com.mongodb.internal.connection.DefaultServerConnection.executeProtocol(DefaultServerConnection.java:269)
	at com.mongodb.internal.connection.DefaultServerConnection.command(DefaultServerConnection.java:131)
	at com.mongodb.operation.MixedBulkWriteOperation.executeCommand(MixedBulkWriteOperation.java:419)
	at com.mongodb.operation.MixedBulkWriteOperation.executeBulkWriteBatch(MixedBulkWriteOperation.java:257)
	at com.mongodb.operation.MixedBulkWriteOperation.access$700(MixedBulkWriteOperation.java:68)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:201)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.OperationHelper.withReleasableConnection(OperationHelper.java:424)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:67)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:193)
	at com.mongodb.client.internal.MongoCollectionImpl.executeInsertMany(MongoCollectionImpl.java:520)
	at com.mongodb.client.internal.MongoCollectionImpl.insertMany(MongoCollectionImpl.java:504)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:119)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:119)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:118)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1(MongoSpark.scala:118)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1$adapted(MongoSpark.scala:117)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1011)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1011)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2278)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2238)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2259)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2278)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1011)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1009)
	at com.mongodb.spark.MongoSpark$.save(MongoSpark.scala:117)
	at com.mongodb.spark.MongoSpark$.save(MongoSpark.scala:159)
	at com.mongodb.spark.sql.DefaultSource.createRelation(DefaultSource.scala:73)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:47)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:560)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:116)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:860)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:390)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:363)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: com.mongodb.MongoCommandException: Command failed with error 8000 (AtlasError): 'you are over your space quota, using 514 MB of 512 MB' on server ac-uueoxhj-shard-00-01.l1dei5j.mongodb.net:27017. The full response is { "ok" : 0, "errmsg" : "you are over your space quota, using 514 MB of 512 MB", "code" : 8000, "codeName" : "AtlasError" }
	at com.mongodb.internal.connection.ProtocolHelper.getCommandFailureException(ProtocolHelper.java:179)
	at com.mongodb.internal.connection.InternalStreamConnection.receiveCommandMessageResponse(InternalStreamConnection.java:293)
	at com.mongodb.internal.connection.InternalStreamConnection.sendAndReceive(InternalStreamConnection.java:255)
	at com.mongodb.internal.connection.UsageTrackingInternalConnection.sendAndReceive(UsageTrackingInternalConnection.java:99)
	at com.mongodb.internal.connection.DefaultConnectionPool$PooledConnection.sendAndReceive(DefaultConnectionPool.java:444)
	at com.mongodb.internal.connection.CommandProtocolImpl.execute(CommandProtocolImpl.java:72)
	at com.mongodb.internal.connection.DefaultServer$DefaultServerProtocolExecutor.execute(DefaultServer.java:200)
	at com.mongodb.internal.connection.DefaultServerConnection.executeProtocol(DefaultServerConnection.java:269)
	at com.mongodb.internal.connection.DefaultServerConnection.command(DefaultServerConnection.java:131)
	at com.mongodb.operation.MixedBulkWriteOperation.executeCommand(MixedBulkWriteOperation.java:419)
	at com.mongodb.operation.MixedBulkWriteOperation.executeBulkWriteBatch(MixedBulkWriteOperation.java:257)
	at com.mongodb.operation.MixedBulkWriteOperation.access$700(MixedBulkWriteOperation.java:68)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:201)
	at com.mongodb.operation.MixedBulkWriteOperation$1.call(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.OperationHelper.withReleasableConnection(OperationHelper.java:424)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:192)
	at com.mongodb.operation.MixedBulkWriteOperation.execute(MixedBulkWriteOperation.java:67)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:193)
	at com.mongodb.client.internal.MongoCollectionImpl.executeInsertMany(MongoCollectionImpl.java:520)
	at com.mongodb.client.internal.MongoCollectionImpl.insertMany(MongoCollectionImpl.java:504)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:119)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:119)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:118)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1(MongoSpark.scala:118)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$1$adapted(MongoSpark.scala:117)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1011)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1011)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2278)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more

In [ ]:
# from pymongo.mongo_client import MongoClient
# from pymongo.server_api import ServerApi
# import pandas as pd

# uri = "mongodb+srv://bigDataAdmin:admin@bigdatacluster.l1dei5j.mongodb.net/?retryWrites=true&w=majority"

# # Create a new client and connect to the server
# client = MongoClient(uri, server_api=ServerApi('1'))

# # Send a ping to confirm a successful connection
# try:
#     client.admin.command('ping')
#     print("Pinged your deployment. You successfully connected to MongoDB!")
#     db = client['mergedParquet']
#     collection = db['mergedParquet']

#     #FIXME: o problema é que isto nao esta a dar
#     # df5 = df4.toPandas()

#     collection.insert_one(data_csv_ps.to_dict('split'))
# except Exception as e:
#     print(e)

# client.close()

In [ ]:
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import *
# from pyspark.sql.types import *
# import pymongo
# import json

# # Configurar a sessão do Spark
# spark = SparkSession.builder \
#     .appName("MongoDBConnector") \
#     .config("spark.mongodb.output.uri", "mongodb+srv://bigDataAdmin:admin@bigdatacluster/mergedParquet.mergedParquet2") \
#     .config("spark.mongodb.output.database", "mergedParquet") \
#     .config("spark.mongodb.output.collection", "mergedParquet2") \
#     .getOrCreate()

# # Ler arquivos Parquet e juntar em um dataframe
# # Criar dataframes de teste
# df1 = spark.createDataFrame([(2020, "Q1", "A", 100), (2020, "Q2", "A", 200), (2020, "Q3", "A", 300), (2020, "Q4", "A", 400)], ["year", "quarter", "group1", "value1"])
# df2 = spark.createDataFrame([(2020, "Q1", "B", 150), (2020, "Q2", "B", 250), (2020, "Q3", "B", 350), (2020, "Q4", "B", 450)], ["year", "quarter", "group2", "value2"])
# df3 = spark.createDataFrame([(2020, "Q1", "C", 75), (2020, "Q2", "C", 175), (2020, "Q3", "C", 275), (2020, "Q4", "C", 375)], ["year", "quarter", "group3", "value3"])

# # Juntar dataframes em um dataframe único
# df = df1.join(df2, on=['quarter', 'year'], how='inner').join(df3, on=['quarter', 'year'], how='inner')

# # Renomear as colunas para evitar nomes duplicados
# df = df.withColumnRenamed("group1", "group_name")
# df = df.withColumnRenamed("value1", "group_value")


# # Salvar dataframe em formato parquet
# df = df.write.parquet("../parquetFiles2/teste.parquet")

# # Carregar dataframe a partir do arquivo parquet
# df = spark.read.parquet("../parquetFiles2/teste.parquet")

# # Converter o dataframe para um RDD e, em seguida, para uma lista de dicionários
# rdd = df.rdd.map(lambda x: dict(x))
# data = [json.loads(json.dumps(d)) for d in rdd.collect()]

# # Configurar a conexão com o MongoDB Atlas
# mongo_uri = "mongodb+srv://bigDataAdmin:admin@bigdatacluster/mergedParquet.mergedParquet2"
# database_name = "mergedParquet"
# collection_name = "mergedParquet2"

# client = pymongo.MongoClient(mongo_uri)
# db = client[database_name]
# collection = db[collection_name]

# # Inserir os dados no MongoDB Atlas
# collection.insert_many(data)

# # Fechar a sessão do Spark
# spark.stop()